table {
  width: 100%;
  border-collapse: collapse;
}

table.data-field {
  padding: 0;
}

#workerTable {
  margin-top: 40px;
  width: 100%;
}

#workerTable tr {
  width: 120px;
}

th,
td {
  text-align: center;
  position: relative;
}

thead {
  background-color: rgb(239, 245, 194);
}

.navigation {
  margin: 10px 0;
}

.navButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  text-align: center;
}

.inside {
  position: absolute;
  top: 1px;
  left: 0;
  height: 99%;
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f3;
  border-left: 1px solid rgb(120, 120, 120);
  border-right: 1px solid rgb(120, 120, 120);
}

.inside td {
  background-color: blanchedalmond;
  font-size: small;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  /* padding-left: 10px; */
}

.green {
  background-color: green !important;
}

.head {
  display: flex;

  margin-top: 25px;
}

.head > select {
  max-width: 300px;
  margin: -5px 30px 0 5px;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

.editButton {
  margin-right: 3px;
}
